* {
  font-family: 'Open Sans', sans-serif;
  border: 0 solid #dae1e7;
}

:root {
  font-size: 16px;
  --primary: #fc2755;
  --secondary: #2b9cf2;
  --white: #fff;
  --danger: #f5365c;
}

body {
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  color: #383b3d;
  background-image: url('/back.png');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* border-left-width: 2px; */
  /* border-color: var(--primary); */
  /* padding-left: 1rem; */
  margin-bottom: 1.5rem;
  font-weight: 700;
  /* font-size: 2em; */
  color: #000;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(57, 68, 77, 0.84);
}

.el-main {
  padding: 0!important;
}
a.no-border {
  border-bottom: none;
}

a:hover {
  text-decoration: none;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

hr {
  border-top-width: 2px;
  border-style: dashed;
  border-color: #f1f5f8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-enter-active .el-main,
.page-leave-active .el-main {
  transition: opacity 0.6s;
}

.page-enter .el-main,
.page-leave-to .el-main {
  opacity: 0;
  /* transform: translateX(10px); */
}

.el-image {
  width: 100%;
}

.bg-gradient-primary {
  background: linear-gradient(87deg, #787af6 0, #2b9cf2 100%) !important;
}

.h-1 {
  height: 0.25rem;
}

.h-100-p {
  height: 100% !important;
}

.h-100-vh {
  height: 100vh !important;
}

.w-100 {
  width: 100%;
}

.sub-title-page {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5em;
  padding-left: 0;
  border-width: 0;
  color: #606f7b;
}

.card-learning {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f0f1f2;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0 5px 15px 0 hsla(0, 0%, 89%, 0.5);
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 89%, 0.5);
  padding: 0;
  margin-bottom: 1rem;
}

.card-learning.exam-card {
}

.card-learning.card-exam .radio-cont-card label {
  margin-bottom: 1rem;
}

.card-learning.card-exam .el-form-item {
  margin-bottom: 0 !important;
}

.card-learning.card-exam .el-form-item.is-error {
}

.card-learning.card-exam .el-form-item.is-error .el-radio__inner {
  border-color: red;
}

.card-learning .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #f0f1f2;
  text-align: center;
}

.card-learning.exam-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-learning.exam-card .card-header .first-column,
.card-learning.exam-card .card-header .last-column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.card-learning.exam-card .card-header h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  border-width: 0;
  padding-left: 0;
}

.card-learning.exam-card .card-header .cont-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-learning.exam-card .card-header .cont-countdown .cont-count {
  margin: 0 1rem;
}

.cont-countdown-forum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cont-countdown-forum .cont-count {
  margin: 0 1rem;
}

.cont-countdown-forum h4 {
  margin-bottom: 0.5rem;
  text-align: center;
  border-width: 0;
  padding-left: 0;
}

.cont-countdown-forum small {
  text-transform: uppercase;
  color: #b8bdc2;
}

.card-learning.exam-card .card-header small {
  text-transform: uppercase;
  color: #b8bdc2 !important;
}

.card-learning .card-header.alter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.card-learning .card-header.alter h4 {
  margin-bottom: 0rem;
}

.card-learning .card-header .top {
  display: block;
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.5rem;
  border-width: 0;
  padding: 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-learning .card-header.alter .top {
  text-align: left;
}

.card-learning .card-header .middle {
  color: #b8bdc2;
  margin-top: -0.5rem;
  text-transform: uppercase;
  font-size: 0.707rem;
  font-weight: 500;
}

.card-learning .card-body {
  padding: 0.75rem 1.25rem;
}

.card-learning .card-body.alter {
  padding: 0;
}

.card-learning .card-footer {
  padding: 0.9rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-top: 1px solid #f0f1f2;
  text-align: center;
}

.card-learning .card-footer span.title {
  color: #b8c2cc !important;
  text-transform: uppercase !important;
  font-weight: 600;
}

.card-learning .card-footer.information {
  text-align: left;
}

.card-learning .card-footer p.details {
  margin: 0.5rem 0;
}

.card-learning.card-no-back {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.form-learning {
}

.form-learning label {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(56, 59, 61, 0.5);
  letter-spacing: 1px;
}

.form-learning input {
  display: block;
  width: 100%;
  height: calc(2.9rem + 2px);
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f0f1f2;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-learning textarea {
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f0f1f2;
  border-radius: 0.25rem;
  font-size: 0.9375rem;
  font-weight: 600;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-learning span.el-input__prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cont-butons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-learning {
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.nuxt-progress{
  display: none;
}
.col-senati h1,
.col-senati h2,
.col-senati h3,
.col-senati h4{
  color: #fff;
}
.button-learning:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.button-learning.is-primary {
  background-color: var(--primary);
  color: var(--white);
}

.button-learning.is-black {
  background-color: #3d4852;
  color: var(--white);
}

.button-learning.is-danger {
  background-color: var(--danger);
  color: var(--white);
}

.button-learning span {
}

.el-form-item__content {
  font-size: 16px !important;
}

.row-log {
  height: 100vh;
}
.col-senati {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-senati{
  position: absolute;
  bottom: 1rem;
  z-index: 9999;
}
