<template>
  <el-main class="none-padding">
    <div class="d-flex justify-content-center h-100-vh align-items-center" v-loading="loading">
      <div class="form-login form-general card-learning col-12 col-md-8 col-lg-6">
        <div class="card-header">
          <h4 class="top">Inicio de sesión</h4>
          <span class="middle">Accede a tu cuenta</span>
        </div>
        <div class="card-body">
          <el-form
            :model="form_login"
            :rules="rules"
            ref="form_login"
            class="form-learning"
            :hide-required-asterisk="true"
            :status-icon="false"
            :show-message="false"
          >
            <el-form-item label="DNI" prop="dni">
              <el-input type="text" v-model="form_login.dni" autocomplete="off" placeholder="DNI">
                <unicon name="user" fill="#ccc" slot="prefix" width="20px" />
              </el-input>
            </el-form-item>
            <el-form-item label="Contraseña" prop="password">
              <el-input
                type="password"
                v-model="form_login.password"
                autocomplete="off"
                placeholder="Tu contraseña"
              >
                <unicon name="keyhole-circle" fill="#ccc" slot="prefix" width="20px" />
              </el-input>
            </el-form-item>
            <el-form-item class="cont-butons">
              <a
                type="primary"
                @click="submitForm('form_login')"
                class="button-learning large is-primary"
              >
                <span>Iniciar sesión</span>
              </a>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </el-main>
</template>
<script>
const axios = require('axios')

export default {
  middleware: 'auth',
  asyncData({ params, route }) {
    // return axios.get(`https://my-api/posts/${params.id}`)
    // .then((res) => {
    //   return { title: res.data.title }
    // })
    // console.log(route)
  },
  data() {
    return {
      loading: false,
      cnumIp: '',
      cnomPais: '',
      cnomCiudad: '',
      form_login: {
        dni: '',
        password: ''
      },
      rules: {
        dni: [
          {
            required: true,
            message: 'Por favor ingresa un usuario',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Por favor ingresa tu contraseña',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    submitForm(formName) {
      this.loading = true
      this.$refs[formName].validate(async valid => {
        if (valid) {
          let data = {
            dni: this.form_login.dni,
            password: this.form_login.password
          }

          console.log(data)
          await this.sendDataResponseToServer(data)
        } else {
          this.loading = false
          console.log('error submit!!')
          return false
        }
      })
    },
    async sendDataResponseToServer(data) {
      let send_data = data
      // await this.$axios.$post('/persons/login', send_data).then(response => {
      //   console.log(response)
      // })

      await this.$auth
        .loginWith('local', {
          data: data
        })
        .then(re => {
          this.loading = false
          console.log(re)
        }).catch(err =>{
          this.loading = false
          this.$message.error('El DNI o la contraseña ingresado no son validos');
        })
    },
    getInfoFromIp() {
      axios
        .get('https://ipapi.co/json/')
        .then(({ data }) => {
          let data_c = data
          this.cnumIp = data_c.ip
          this.cnomPais = data_c.country_name
          this.cnomCiudad = data_c.city
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  mounted() {}
}
</script>
