<template>
  <div>
    <el-container class="container-fluid" v-loading="loading">
      <div class="row row-log w-100 d-flex justify-content-center">
        <div class="logout-ico" @click="logoutUser()">
          <i class="el-icon-switch-button"></i>
        </div>
        <div class="col-10 col-senati" v-if="view_rate == false">
          <div class="message_after text-center">
            <h1>Bienvenido al modulo de calificacion</h1>
            <pre>{{this.$auth.user.nombres}}</pre>
             <a
              type="primary"
              @click="show_calification_start()"
              class="button-learning large is-primary"
            >
              <span>Realizar calificacion</span>
            </a>
          </div>
        </div>

        <div class="col-10 col-senati" v-else-if="view_rate == true">
          <div class="message_after text-center" v-if="view_thanks == false">
            <h2>Por favor califique la atención que recibió el dia de hoy</h2>
            <!-- <h4>Cliente: {{usuario}}</h4> -->
            <el-rate
              :icon-classes="iconClasses" void-icon-class="far fa-meh-blank" :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
              v-model="rate_course"
            ></el-rate>
            <a
              type="primary"
              @click="send_data()"
              v-if="rate_course"
              class="button-learning large is-primary"
            >
              <span>Calificar</span>
            </a>
          </div>
          <div class="message-thanks" v-else-if="view_thanks == true" @click="refres_calification()">
            <h1>Gracias por tu calificación</h1>
          </div>

          
        </div>
        <div class="logo-senati">
            <img src="/logo.png" alt="">
          </div>
      </div>
    </el-container>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      rate_course:null,
      view_rate: false,
      view_thanks: false,
      loading: false,
      id_cola: '',
      function_set_interval: null,
      function_stop_set_time_out: null,
      usuario: '',
      iconClasses: ['far fa-frown', 'far fa-meh', 'far fa-smile-beam'] // same as { 2: 'icon-rate-face-1', 4: { value: 'icon-rate-face-2', excluded: true }, 5: 'icon-rate-face-3' }
    }
  },
  methods: {
    async getRatingStatusOne() {
      let send_data = {
        id_modulo: this.$auth.user.modulo[0].id_modulo,
        id_persona: this.$auth.user.id_persona
      }
      return await this.$axios
        .$post('/cola/estado_calificacion', send_data)
        .then(response => {
          return response
        })
    },
    setInterval() {
      this.polling = setInterval(async () => {
        let request_server = await this.getRatingStatusOne()
        if (request_server.length === 0) {
        } else {
          // console.log(request_server[0].persona)
          this.view_rate = true
          this.usuario =
            request_server[0].persona.nombres +
            ' ' +
            request_server[0].persona.ape_paterno +
            ' ' +
            request_server[0].persona.ape_materno
          clearInterval(this.polling)
          this.id_cola = request_server[0].id_cola
        }
      }, 1000)
    },
    async send_data() {
      this.loading = true
      let send_data = {
        id_modulo: this.$auth.user.modulo[0].id_modulo,
        id_cola: this.id_cola,
        num_calitifation: this.rate_course
      }
      await this.$axios
        .$post('/cola/set_calification', send_data)
        .then(response => {
          // return response
          this.view_thanks = true
          this.loading = false


           self.view_thanks = false
            self.rate_course = 0
            self.view_rate = false
            self.id_cola = ''

          // var self = this
          // this.function_stop_set_time_out = setTimeout(function() {
          //   self.view_thanks = false
          //   self.rate_course = 0
          //   self.view_rate = false
          //   self.id_cola = ''
          //   self.setInterval()
          // }, 5000)
        })
    },
    show_calification_start(){
      this.view_rate = true
    },
    refres_calification() {
      // clearTimeout(this.function_stop_set_time_out)
      this.view_thanks = false
      this.rate_course = 0
      this.view_rate = false
      this.id_cola = ''
      // this.setInterval()
    },
    logoutUser() {
      this.$confirm('¿Esta seguro que desea cerrar sesión?', 'Cerrar sesión', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'error'
      })
        .then(() => {
          clearInterval(this.polling)
          this.$auth.logout()
          this.$message({
            type: 'success',
            message: 'Sesión cerrada correctamente'
          })
        })
        .catch(() => {
          console.log('Cancelado')
        })
    }
  },
  created() {
    // this.setInterval()
  },
  async mounted() {
    // let a = await this.getRatingStatusOne()
    // console.log(a)
  },
  computed: {},
  components: {}
}
</script>
<style>
.el-rate {
  height: auto;
  margin-bottom: 2rem;
}
.el-rate__icon {
  font-size: 10vw;
}
.el-rate__text {
  color: #fff !important;
  display: block;
  margin-top: 1rem;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 600;
}
.message-thanks {
  height: 100vh;
  position: absolute;
  width: 100vw;
  background-image: url('/back.png');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.logout-ico {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #d4d4d4;
}
.row {
  padding: 0 !important;
}
.icon-rate-face-off:before {
    content: "\e900";
}
.el-rate__item {
    margin: 0 1rem
}
</style>
